.container {
    margin-left:auto;
    width:80%;
    margin-right:auto;
}


.column {
    width:40%;
}

.expand-toggle {
    border: 1px solid red;
    margin-top:10px;
    padding-left:20px;
}



.expand-content {
    border: 1px solid blue;
    display:none;
}

.expand-content.active {
    display:block;
}


.left {
    float:left;
}


.right {
    float:right;
}
