th, td {
    margin: 0;
    text-align:center;
    border-collapse: collapse;
    outline: 1px solid #444444;
    padding:10px;
}



table {
    padding:20px;
}


.location {
    background-color:#cccccc;
    width:15%;
}

.header {
    background-color:#aaaaaa;
    width:15%;
}

.night {
    background-color:#eeeeee;
}

#night {
    background-color:#eeeeee;
}

